@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  display: inline-block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 999px;
  border: none;
  background-color: $primary-color;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  transition: background-color ease 100ms;

  &:active,
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }

  @include respond-to(desktop) {
    padding: 25px;
    font-size: 22px;
  }
}
