@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  // Common styles
  display: inline-block;
  box-sizing: border-box;
  border-radius: 999px;
  border: none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: $primary-color;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  transition: background-color ease 100ms;
  cursor: pointer;

  // Default styles (customized by `.icon` and `.responsive`)
  padding: 26px 40px;
  background-position-x: 18px;
  background-size: 34px;
  line-height: 18px;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.icon {
  padding-left: 70px;
}

.mini {
  padding: 7px 16px 5px;
  font-size: 8px;
  letter-spacing: 0.5px;

  &.icon {
    background-position-x: 7px;
    background-size: 20px;
    padding-left: 36px;
  }
}

.responsive {
  @include respond-to(mobile) {
    width: 100%;
    padding: 15px 22px;
    background-position-x: 10px;
    background-size: 28px;

    &.icon {
      padding-left: 48px;
    }
  }

  @include respond-to(desktop) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 26px;
    font-size: 20px;
  }
}
