@import "../../styles/variables";

.Button {
  background-color: $primary-color;
  padding: 0;
  border: none;
  color: #FFF;
  width: 80vw;
  height: 47px;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: TindevBold;
  border-radius: 47px;

  &:active, &:hover, &:focus {
    background-color: darken($primary-color, 5%);
    outline: none;
  }
}
