body {
  overscroll-behavior: none;
  overflow: auto;
  height: 100vh;
  margin: 0;
  font-family: Tindev;
  font-size: $font-size;
  user-select: none;
  background: url("./images/background.png") center top repeat;
}

button {
  font: inherit;
}
