html, body {
  height: 100vh;
}

body {
  overscroll-behavior: none;
  overflow: auto;
  margin: 0;
  font-family: Tindev;
  font-size: 14px;
  user-select: none;
  background: url("./images/background.png") center top repeat;
}
