@font-face {
  font-family: Tindev;
  font-weight: normal;
  src: url("./fonts/FuturaNext_Book.otf");
}

@font-face {
  font-family: TindevBold;
  font-weight: bold;
  src: url("./fonts/FuturaNext_DemiBold.otf");
}
