$breakpoint: 720px;

$header-height-mobile: 136px;
$header-height-desktop: 152px;

$footer-height-mobile: 52px;
$footer-height-desktop: 66px;

$background-color: #FFFFFF;
$primary-color: #FFA1C3;

$font-size: 14px;
