.layout {
  height: 100vh;
  min-width: 320px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  text-align: center;
}

.header {
  grid-area: header;
  position: relative;
  z-index: 3;
}

.main {
  grid-area: main;
  position: relative;
  z-index: 2;
}

.footer {
  grid-area: footer;
  position: relative;
  z-index: 1;
}
