.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "main";
  text-align: center;
}

.header {
  grid-area: header;
  position: relative;
}

.main {
  grid-area: main;
  position: relative;
}
