.card {
  padding: 4vh 8vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #FFFFFF;
  text-align: center;
  will-change: transform;
}

.image {
  height: 35vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.description {
  margin-top: 2vh;
  text-transform: uppercase;
}

.actions {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
}
