.heading {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: TindevBold;
}

.title {
  font-size: 18px;
}

.subtitle {
  display: block;
  margin-top: 10px;
  font-size: 36px;
}

.subtitleSmall {
  font-size: 24px;
}

.subtitleLarge {
  font-size: 48px;
}
