.title {
  margin: 0 24px;
  font-size: 18px;
  font-family: TindevBold;
  text-transform: uppercase;
}

.paragraph {
  margin: 15px 24px;
}

.image {
  display: block;
  margin: 5% auto 0;
  width: 90%;
  max-height: 50vh;
}
