.close {
  cursor: pointer;
  padding: 10px;
  height: 24px;
  width: 24px;
  margin: 14px auto auto;

  &:hover, &:active {
    background-color: #F1F1F1;
  }
}

.title {
  text-transform: uppercase;
  font-family: TindevBold;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.image {
  display: block;
  margin: 5% auto 0;
  width: 90%;
  max-height: 50vh;
}

.paragraph {
  margin: 15px 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
