.index {
  display: flex;
  height: 100%;
}

.content {
  margin: auto;
  padding: 60px 30px;
}

.welcome {
  text-transform: uppercase;
  font-family: TindevBold;
  font-size: 18px;
}

.welcomeBig {
  display: block;
  margin-top: 10px;
  font-size: 36px;
}
