.Join {

  text-align: center;

  .message {
    font-size: 18px;
    font-family: "Futura Next DemiBold", serif;
    margin-top: 20vh;
    text-transform: uppercase;
  }

  .button {
    margin-top: 25px;
  }
}
