.match {
  margin-top: 3vh;
  text-align: center;
}

.message {
  margin-top: -15px;
  font-family: TindevBold;
  font-size: 18px;
  text-transform: uppercase;

  .messageBig {
    display: block;
    font-size: 48px;
  }
}
