.match {
  margin-top: 3vh;
  text-align: center;
}

.message {
  font-family: TindevBold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: -15px;

  span {
    font-size: 48px;
    display: block;
  }
}

.heart {
}

.match-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 25vh;
  background: url("../images/match-bottom.svg") no-repeat;
  background-size: cover;
}
