.background {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.modal {
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 56px);
  max-height: calc(100% - 56px);
  max-width: 500px;
  box-shadow: 0 2px 8px -4px rgba(0, 0, 0, .2);
  border-radius: 15px;
  background-color: #ffffff;
  text-align: center;
}

.close {
  flex-shrink: 0;
  display: block;
  padding: 8px 0;
  line-height: 0;

  img {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color ease 200ms;

    &:hover,
    &:active {
      background-color: #F1F1F1;
    }
  }
}

.content {
  flex-grow: 1;
  overflow: auto;
}
