@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  padding-bottom: 40px;
}

.container {
  display: block;
  padding-top: 13px;
  text-align: center;
  text-decoration: none;
}

.headerAlt {
  background-image: url("../../images/bg-header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .container {
    background-color: $primary-color;
  }

  .tagline {
    color: #FFFFFF;
  }
}

@include respond-to(desktop) {
  .headerAlt {
    background-color: $primary-color;
  }

  .container {
    padding-top: 29px;
  }

}
