@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  padding-bottom: 44px;
}

.container {
  display: block;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}

.tagline {
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #000000;
}

.headerAlt {
  background-image: url("../../images/bg-header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .container {
    background-color: $primary-color;
  }

  .tagline {
    color: #FFFFFF;
  }
}

@include respond-to(desktop) {
  .headerAlt {
    background-color: $primary-color;
  }

  .container {
    padding-top: 36px;
  }

}
