@import "../../styles/colors";

.header {
  padding-bottom: 60px;
}

.container {
  padding-top: 20px;
  text-align: center;
}

.tagline {
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: 0.22em;
  text-transform: uppercase;
}

.headerAlt {
  background-image: url("../../images/header.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .container {
    background-color: $primary;
  }

  .tagline {
    color: #FFFFFF;
  }
}

@media (min-width: 720px) {
  .header {
    padding-bottom: 40px;
  }

  .headerAlt {
    background-color: $primary;
  }
}
