@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 12px 0;
  text-align: center;
}

@include respond-to(desktop) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.footerBackground {
  background-color: $primary-color;
}

.footerArrow {
  padding-top: 52px;
}

.link {
  line-height: 0;
}

$rotate: 90deg;

.arrowContainer {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 38px;
  opacity: 0;
  transform-origin: bottom left;
  transform: rotate($rotate);
  animation: ArrowAnim 0.5s ease-out 0.25s forwards;
}

.arrowText {
  line-height: 1.5em;
  color: #888;
}

.arrowImage {
  margin-left: -49px;
  transform-origin: top right;
  transform: rotate(8deg);
}

@keyframes ArrowAnim {
  from {
    opacity: 0;
    transform: rotate($rotate);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
