.action {
  width: 80px;
  height: 80px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-radius: 80px;

  &:active,
  &:focus {
    outline: none;
    background-color: #fafafa;
  }
}

.yes {
  margin-top: 8px;
}
