.action {
  width: 80px;
  height: 80px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-radius: 80px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
    background-color: #fafafa;
  }

  &:hover {
    background-color: darken(#fafafa, .2);
  }
}

.yes {
  margin-top: 8px;
}
