html, body {
  margin: 0;
  font-family: "Futura Next Book", serif;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  background: url("./images/background.png") center top repeat;
  overflow: hidden;
}
