html, body {
  font-family: "Futura Next Book", serif;
  box-sizing: border-box;
  font-size: 14px;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  position: fixed;
  overflow: hidden;
}
