body {
  overflow: auto;
  margin: 0;
  font-family: "Futura Next Book", serif;
  font-size: 14px;
  user-select: none;
  background: url("./images/background.png") center top repeat;
}

html, body {
  height: 100vh;
}
